/* src/App.css */
.app {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
  background-color: #000000;
}

h1 {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
